<%= provide(:title, 'Help') %>
<h1>About TradeSpring</h1>
<p>
  Welcome to TradeSpring. This is a great tool if you are are a consumer interested in making a purchase, or a vendor looking for customers. 
</p>

<h3>
For Consumers
</h3>

<p>
The first step is creating a profile. Contact us if you have any issues with this. Hopefully you will be up and running in a few moments. Now you are ready to use TradeSpring. Enter as many specifics as possible about items you are interested in purchasing into the input box on the left side of your home page. Good specifics include the name, brand, your price range, your location, how you will use it, and other general qualities of the product. There is no need to ramble, but the more detail the better. This will help vendors get you a better deal. 
</p>

<p>
Once you click post, we get vendors in the area to see your query for a product/service. If they think they have an appropriate offer, they reply to your query with a personalized offer. Remember they are only offering this deal to the account holder that posted the query (you). You can review and pick from these offers that are posted under your original query. When purchasing the item either in a physical store or online store, you must provide your TradeSpring account information. The vendor will detail how to redeem this offer when completing the purchase. 
</p>

<h3>
For Vendors
</h3>

<p>
TradeSpring is a great way to find and serve potential customers. You can search through their product/service queries for items that you are currently offering and easily tailor replies to these queries. Be sure to include as much information as possible about your offer including how the customer can go about redeeming this offer when purchasing an item. You can include time constraints, price, product/service information, and anything else you can think of. Remember that most customers like to know alot about what they are buying but at the same time dont want to waste time reading. It is important to note that these replies are private. Only the account holder who posted the query can see or redeem the offer. 
</p>
